

.view{
    background-color: white;
}
// mobile
@media (min-width: 306px) { 
    .container{
        width: 80%;
    }
    .custom{
        width: 40vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height: 100vh;
    }
}
//ipad
@media (min-width: 768px) {
    .container{
        width: 90%;
    }
    .custom{
        width: 50vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height: 100vh;
    }
}
//ipad pro
@media (min-width: 992px) {
    .container{
        width: 90%;
    }
    .custom{
        width: 48vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height: 60vh;
    }
}

//laptop
@media (min-width: 1200px) {
    .container{
        width: 70%;
    }
    .custom{
        width: 150vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height:100vh;
    }
}

