.classic{
    background-color: yellowgreen;
    color: #3F729B;
}
.school{
    font-size: 20px;
    color: #3F729B;
}

.show-me{
    display: none;
}
.edu-info { transition: all .2s ease-in-out; }
.edu-info:hover  { 
    transform: scale(1.04);
    border-width: medium;  
}
.edu-info:hover .show-me  { 
    display: block;   
}
// mobile
@media (min-width: 306px) { 
    .custom{
        width: 40vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height: 100vh;
    }
}
//ipad
@media (min-width: 768px) {
    .custom{
        width: 50vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height: 100vh;
    }
}
//ipad pro
@media (min-width: 992px) {
    .custom{
        width: 48vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height: 60vh;
    }
}
//laptop
@media (min-width: 1200px) {
    .custom{
        width: 150vh; 
    }
    .view{
        margin-top: -50px;
        padding-top: 20px;
        min-height:100vh;
    }
}