<app-header-for-guest></app-header-for-guest>
<div class="login  mt-5 pb-5">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-1 col-sm-1">
                </div>

                <div class="col-lg-6 col-md-10 col-sm-10">
                    <!-- Material form login -->
                    <mdb-card>
                        <mdb-card-header class="primary-color white-text text-center py-4">
                            <h4>
                                Register now!
                            </h4>
                            <p>Don't lose chance to find interesting jobs</p>
                        </mdb-card-header>
                        <!--Card content-->
                        <mdb-card-body class="px-lg-5 pt-0">

                            <!-- Form -->
                            <form *ngIf="!isSuccessful" name="registerForm" (ngSubmit)="f.form.valid && onSubmit()"
                                #f="ngForm" novalidate>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-6 col-xs-6 d-flex justify-content-center">
                                        <!--Facebook-->
                                        <button type="button" mdbBtn size="lg" color="fb" class="btn btn-indigo"
                                            mdbWavesEffect> <span>Facebook</span></button>
                                    </div>

                                    <div class="col-md-6 col-xs-6 d-flex justify-content-center">
                                        <button type="button" mdbBtn size="lg" mdbBtn color="gplus"
                                            class="btn btn-danger" mdbWavesEffect> Google
                                        </button>
                                    </div>
                                </div>
                                <hr />
                            
                                <div  class="row">
                                <!-- Name -->
                                <div class="col-6">
                                <div class="form-group">
                                    <label for="firstname">Firstname</label>
                                    <input type="text" class="form-control" name="firstname"
                                        [(ngModel)]="registerForm.firstname" required minlength="3" maxlength="20"
                                        #firstname="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
                                        <div *ngIf="firstname.errors.required">Firstname is required</div>
                                        <div *ngIf="firstname.errors.minlength">
                                            Firstname must be at least 3 characters
                                        </div>
                                        <div *ngIf="firstname.errors.maxlength">
                                            Firstname must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="lastname">Lastname</label>
                                    <input type="text" class="form-control" name="lastname"
                                        [(ngModel)]="registerForm.lastname" required minlength="3" maxlength="20"
                                        #lastname="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && lastname.invalid">
                                        <div *ngIf="lastname.errors.required">Lastname is required</div>
                                        <div *ngIf="lastname.errors.minlength">
                                            Lastname must be at least 3 characters
                                        </div>
                                        <div *ngIf="lastname.errors.maxlength">
                                            Lastname must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email"
                                        [(ngModel)]="registerForm.email" required email #email="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.email">
                                            Email must be a valid email address
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password"
                                        [(ngModel)]="registerForm.password" required minlength="6"
                                        #password="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                        <div *ngIf="password.errors.required">Password is required</div>
                                        <div *ngIf="password.errors.minlength">
                                            Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                                <!-- role -->
                                <div class="form-group">
                                    <input type="text" class="form-control" name="role" [(ngModel)]="registerForm.role"
                                        required #role="ngModel" disabled style="display: none;" />
                                </div>

                                <!-- Sign in button -->

                                <div class="form-group">
                                    <button mdbBtn color="primary" outline="true" rounded="true" block="true"
                                        class="my-4 waves-effect z-depth-0"
                                        mdbWavesEffect><strong>Register</strong></button>
                                </div>
                                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                    Signup failed!<br />{{ errorMessage }}
                                </div>
                            </form>
                            <div class="alert alert-success" *ngIf="isSuccessful">
                                Your registration is successful!
                                <a [routerLink]="['../login']"><strong>Sign in</strong></a>
                            </div>
                            <!-- Form -->
                        </mdb-card-body>
                    </mdb-card>
                    <!-- Material form login -->
                </div>
                <div class="col-lg-3 col-md-1 col-sm-1">

                </div>
            </div>
        </div>
    </div>
</div>