.progress{
    width:150px; 
    margin-right: auto;
     margin-left: auto; 
     display: flex;
}
.view{
    background-color: rgba(76, 175, 80, 0.1);
    min-height: 100vh !important;
}  
// mobile
@media (min-width: 306px) { 
    .container{
        background-color: rgba(0, 150, 136, 0.1) ;   
        width: 90%;      
}
}
//ipad
@media (min-width: 768px) {
    .container{
        background-color: rgba(0, 150, 136, 0.1) ;   
        width: 80%;      
}
}
//ipad pro
@media (min-width: 992px) {
    .container{
        background-color: rgba(0, 150, 136, 0.1) ;   
        width: 70%;      
}
}
//laptop
@media (min-width: 1200px) {
    .container{
        background-color: rgba(0, 150, 136, 0.1) ;   
        width: 40%;      
}
}






