<div class="view">
    <div class="  pt-5 pb-5 ">

        <!-- Default form login -->
        <div class="container border border-light rounded mt-5">
            <form  (ngSubmit)="onSubmit(dangerTpl, successTpl)" class="  p-5">
                <h3 class=" text-center mb-5  text-primary font-weight-bolder " style="letter-spacing: 1px;"> Reset your
                    password</h3>
                <label *ngIf="!isSuccessful" class="text-left text-primary h6 mb-3 ">New password*</label>
                <input *ngIf="!isSuccessful" type="password" id="newpassword" class="form-control mb-4" placeholder="New Password"
                    [(ngModel)]="resetPass.newpassword" name="newpassword">
                <label *ngIf="!isSuccessful" class="text-left text-primary h6 mb-3">Confirm new password*</label>
                <input *ngIf="!isSuccessful" type="password" id="reenterednewpassword" class="form-control mb-4"
                    placeholder="Confirm new password" [(ngModel)]="resetPass.reenterednewpassword"
                    name="reenterednewpassword">
                    <div class="alert alert-success mt-3 text-center" *ngIf="isSuccessful">
                        {{responseMessage}}
                        <a [href]="'http://localhost:4200/guest/login'"><strong>Sign in</strong></a>
                    </div>
                <button *ngIf="!isSuccessful" class="btn btn-primary my-4" type="submit"
                   ><strong>Save</strong></button>

            </form>
            <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
            <ng-template #successTpl>
                <span style="font-size: 18px;"><i class="fas fa-check mr-3 "></i>Change password successful!</span>
            </ng-template>
            <ng-template #dangerTpl>
                <span style="font-size: 18px;"><i
                        class="fas fa-exclamation-triangle mr-3"></i>{{responseMessage}}</span>
            </ng-template>
        </div>
    </div>

</div>