<!-- <app-header-for-eguest></app-header-for-eguest> -->
<section>
    <!-- Full Page Intro -->
    <div class="view jarallax"
        style="background-image: url('./assets/images/candidate/login.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h5 class="display-3  white-text mb-0 mt-5 pt-md-5 pt-5">Helping Your Business Move Up</h5>

                        <h4 class="subtext-header text-light mt-2 mb-4">get your job matched with the right candidate
                        </h4>
                        <br />
                        <br />
                        <a [routerLink]="['/guest/login']" mdbBtn color="primary" rounded="true" mdbWavesEffect>
                            <mdb-icon fas icon="user" class="left"></mdb-icon><strong>Sign in now!</strong>
                        </a>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                        <br />
                    </div>
                    <!--Grid column-->
                </div>

                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>


    <!-- container suitable product -->
    <div class="container">
        <!-- Section: Testimonials v.1 -->
        <section class="text-center my-5">
            <!-- Section heading -->
            <h5 class="display-4 dark-grey-text mt-5  mb-5"><strong>Our Suitable Product</strong></h5>
            <!-- Section description -->
            <!-- Grid row -->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
                    <!--Card-->
                    <mdb-card class="bg-function">
                        <mdb-card-body>
                            <h6 class="white-text">
                                <mdb-icon fas icon="pen" class="pr-2"></mdb-icon><strong>POST A JOB</strong>
                            </h6>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <!--Card-->
                    <mdb-card class="bg-function">
                        <mdb-card-body>
                            <h6 class="white-text">
                                <mdb-icon fas icon="search" class="pr-2"></mdb-icon><strong>SEARCH RESUME</strong>
                            </h6>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <!--Card-->
                    <mdb-card class="bg-function">
                        <mdb-card-body>
                            <h6 class="white-text">
                                <mdb-icon fas icon="cogs" class="pr-2"></mdb-icon><strong>MANAGE JOBS</strong>
                            </h6>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <!--Card-->
                    <mdb-card class="bg-function">
                        <mdb-card-body>
                            <h6 class="white-text">
                                <mdb-icon fas icon="user-friends" class="pr-2"></mdb-icon><strong>MANAGE PROFILE</strong>
                            </h6>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Testimonials v.1 -->
    </div>
    <!-- container suitable product -->





    <!-- container satisfy company -->
    <div class="container">
        <!-- Section: Testimonials v.1 -->
        <section class="text-center my-5">
           
            <!-- Section heading -->
            <h5 class="display-4  dark-grey-text mt-5 pt-4  mb-5"><strong>Our Clients Are Satisfied</strong></h5>

            <!-- Section description -->


            <!-- Grid row -->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-3 col-md-12 mb-lg-0 mb-4 ">
                    <!--Card-->
                    <mdb-card class="testimonial-card">
                        <!--Background color-->
                        <div class="card-up blue-gradient">
                        </div>
                        <!--Avatar-->
                        <div class="avatar mx-auto white mt-5">
                            <img src="./assets/images/employer/nash.png" alt="fjsjk" class="rounded img-fluid">
                        </div>
                        <mdb-card-body>
                            <!--Name-->
                         
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4 font-italic">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Sự quan tâm tận tình của
                                easyJobs thật sự rất khác biệt
                            </p>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                    <!--Card-->
                    <mdb-card class="testimonial-card">
                        <!--Background color-->
                        <div class="card-up blue-gradient">
                        </div>
                        <!--Avatar-->
                        <div class="avatar mx-auto white mt-5">
                            <img src="./assets/images/employer/cmc.jpg" class=" rounded img-fluid">
                        </div>
                        <mdb-card-body>
                            <!--Name-->
                           
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4 font-italic">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Sự hài hòng làm chúng tôi tin easyJobs nhiều hơn
                            </p>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                    <!--Card-->
                    <mdb-card class="testimonial-card">
                        <!--Background color-->
                        <div class="card-up blue-gradient">
                        </div>
                        <!--Avatar-->
                        <div class="avatar mx-auto white mt-5">
                            <img src="./assets/images/employer/misa.jpg" class=" rounded img-fluid">
                        </div>
                        <mdb-card-body>
                            <!--Name-->
                         
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4 font-italic">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Chúng tôi đã tuyển
                                được những chuyên gia giỏi nhất
                            </p>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-3 col-md-6">
                    <!--Card-->
                    <mdb-card class="testimonial-card">
                        <!--Background color-->
                        <div class="card-up indigo"></div>
                        <!--Avatar-->
                        <div class="avatar mx-auto white mt-5">
                            <img src="./assets/images/employer/fpt.png" class="rounded img-fluid">
                        </div>
                        <mdb-card-body>
                          
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4 font-italic">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>easyJobs tư vấn rất chu đáo,
                                nhiệt tình và đáng tin cậy
                            </p>
                        </mdb-card-body>
                    </mdb-card>
                    <!--Card-->
                </div>
                <!--Grid column-->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Testimonials v.1 -->
    </div>
    <!-- container satisfy company -->
    <!-- Full Page Intro -->
</section>
<app-footer></app-footer>