<div class="container bg-light mt-5 pt-3 pb-3 mb-5">
    <form>
        <div class="form-group form-inline d-flex justify-content-start text-primary">
            <h5 class="font-weight-bold">Manage Job Location</h5>
        </div>
        <!-- <div class="form-group form-inline d-flex justify-content-start">
        Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div> -->
    </form>

    <table class="table table-striped ">
        <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">Street Address</th>
                <th scope="col">City Province</th>
              
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let jobLocation of jobLocations ; ">
                <td>
                    <ngb-highlight [result]="jobLocation.id "></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="jobLocation.street_address "></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="jobLocation.city_province"></ngb-highlight>
                </td>
               

            </tr>
        </tbody>
    </table>
    <hr>
    <ul class="nav nav-pills d-flex justify-content-center">
        <li class="nav-item" *ngFor="let p of pages; let i=index">
            <a class="nav-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==pageNo}" >
              {{i}}
            </a>
        </li>
    </ul>
</div>