<!-- <app-header-for-employer></app-header-for-employer> -->

<div class="container mt-5 pt-5 mb-5">
    <form>
        <div class="form-group form-inline d-flex justify-content-start text-primary">
            <h5 class="font-weight-bold">Manage Applied Profiles</h5>
        </div>
        <!-- <div class="form-group form-inline d-flex justify-content-start">
                Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
            </div> -->
    </form>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">Name - ID</th>
                <!-- <th scope="col">Job Type</th>
                <th scope="col" class="text-center ">Required Years</th> -->
                <th scope="col">Job Title</th>
                <th scope="col">City</th>
                <th scope="col">Last Updated</th>
                <!-- <th scope="col">Max Salary</th> -->
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let candidate of appliedCandidate ;">

                <td>
                    <!-- <ngb-highlight class="jobtitle-text-table mr-1" [result]="candidate.name "
                    (click)="candidateDetail(candidate.id)"
                    ></ngb-highlight> -->
                    <a (click)="candidateDetail(candidate.id)"
                    class="hovera font-weight-bold mr-1"
                   >
                    {{candidate.name}}</a>
                    <span class="job-id"> - ID: {{candidate.id}}</span>
                </td>
                <td>
                    {{candidate.work_title}}
                </td>
                <td>
                    <ngb-highlight [result]="candidate.city "></ngb-highlight>
                </td>
                <td class="text-muted">
                    <i class="far fa-clock mr-1"></i>
                    <ngb-highlight [result]="candidate.last_updated |date :'dd-MM-yyyy '  "></ngb-highlight>
                </td>
                <!-- <td>
                            <ngb-highlight [result]="jobPost.minSalary | currency"></ngb-highlight>
                        </td> -->
                <td>
                    <button type="button" class="btn btn-primary mr-1" (click)="candidateDetail(candidate.id)">
                        <mdb-icon fas icon="search" style="color: white;"></mdb-icon>
                    </button>
                    <button (click)="sendEMail()" type="button" class="btn btn-warning " (click)="candidateDetail(candidate.id)">
                        <mdb-icon far icon="envelope-open" style="color: white"></mdb-icon>
                    </button>
                    <a href = "mailto: tranntn269@gmail.com">Send Email</a>

                </td>
            </tr>
        </tbody>
    </table>
   
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    <ng-template #successTpl>
        <span style="font-size: 18px;"><i class="fas fa-check mr-3 "></i>Save successful!</span>
    </ng-template>
    <ng-template #dangerTpl>
        <span style="font-size: 18px;"><i class="fas fa-exclamation-triangle mr-3"></i>This profile has been
            saved</span>
    </ng-template>

</div>