<!-- <app-c-register></app-c-register>
<app-c-login></app-c-login> -->
<!-- <app-e-register></app-e-register> -->
<!-- <app-e-login></app-e-login> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-header-for-guest></app-header-for-guest> -->
<!-- <app-header-for-candidate></app-header-for-candidate>
<app-guest-dashboard></app-guest-dashboard> 
<app-footer></app-footer>   -->
<!-- <app-validate-acc></app-validate-acc> -->
<!-- <app-change-pass></app-change-pass> -->



<router-outlet></router-outlet>