.container{
    background-color: #3D4A6B;
    
}


//test
.product .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    padding: 15px;
    //background: #1e1f29;
    text-align: center;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
  }
  
  .product:hover .add-to-cart {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  
  .product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .product .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
  }
  
  .product .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
  }
  
  .product .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
  }
  
//test


.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:50;
    height:50;
    outline: none;
    cursor: inherit;
}
img { 
 
  width:205px; 
  height:205px; 
  object-fit: cover; 
} 
// mobile
@media (min-width: 306px) { 
    
     
}
//ipad
@media (min-width: 768px) {
    .sidebav{
        width: 20vh;
        position: relative;
      }
}
//ipad pro
@media (min-width: 992px) {
    .sidebav{
         width: 20vh;
       
      }
     
}
//laptop
@media (min-width: 1200px) {
    .sidebav{
        width: 30vh;
      }
}


