<!-- <app-header-for-eguest></app-header-for-eguest> -->
<!-- Navbar -->
<!-- Full Page Intro -->
<div class="login">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-blue-grey-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row pt-3">
                <!--Grid column-->
                <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft pt-5"
                    data-wow-delay="0.3s">
                    <h1 class="display-4 font-weight-bold">Helping Your Business Move Up</h1>
                    <hr class="hr-light">
                    <h6 class="mb-3">get your job matched with the right candidate .</h6>
                    <!-- <a mdbBtn color="white" outline="true" mdbWavesEffect [routerLink]="['../']">Learn more</a> -->
                    <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 ">
                    <!--Form-->
                    <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">

                        <mdb-card-body class="z-depth-2 ">
                            <form *ngIf="!isSuccessful" name="eregisterForm" (ngSubmit)="f.form.valid && onSubmit()"
                                #f="ngForm" novalidate>
                                <!--Header-->
                                <div class="text-center">
                                    <h3 class="blue-text">
                                        <strong>Register</strong>
                                    </h3>
                                    <hr>
                                </div>
                                <!--Body-->
                                <div class="form-group">
                                    <label for="name">Legal Representative Name</label>
                                    <input type="text" class="form-control" name="name" [(ngModel)]="eregisterForm.name"
                                        required minlength="3" maxlength="20" #name="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && name.invalid">
                                        <div *ngIf="name.errors.required">Name is required</div>
                                        <div *ngIf="name.errors.minlength">
                                            Name must be at least 3 characters
                                        </div>
                                        <div *ngIf="name.errors.maxlength">
                                            Name must be at most 20 characters
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email"
                                        [(ngModel)]="eregisterForm.email" required email #email="ngModel" />

                                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.email">
                                            Email must be a valid email address
                                        </div>
                                    </div>
                                    <small id="emailHelp2" class="form-text text-success">We'll never share your email
                                        with anyone.</small>
                                </div>
                                <div class="form-group">
                                    <label for="companyname">Company Name</label>
                                    <input type="text" class="form-control" name="companyname"
                                        [(ngModel)]="eregisterForm.companyname" required minlength="3" maxlength="30"
                                        #companyname="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && companyname.invalid">
                                        <div *ngIf="companyname.errors.required">Company Name is required</div>
                                        <div *ngIf="companyname.errors.minlength">
                                            Company name must be at least 3 characters
                                        </div>
                                        <div *ngIf="companyname.errors.maxlength">
                                            Company name must be at most 30 characters
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="industry">Industry</label>
                                    <input type="text" class="form-control" name="industry"
                                        [(ngModel)]="eregisterForm.industry" required minlength="3" maxlength="30"
                                        #industry="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && industry.invalid">
                                        <div *ngIf="industry.errors.required">Industry is required</div>
                                        <div *ngIf="industry.errors.minlength">
                                            Industry must be at least 3 characters
                                        </div>
                                        <div *ngIf="industry.errors.maxlength">
                                            Industry must be at most 30 characters
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="phonenumber">Phone</label>
                                    <input type="tel" class="form-control" name="phonenumber"
                                        [(ngModel)]="eregisterForm.phonenumber" 
                                        [pattern]="mobNumberPattern"
                                        required maxlength="10"
                                        #phonenumber="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && phonenumber.invalid">
                                        <div *ngIf="phonenumber.errors.required">Phone is required</div>
                                        <div *ngIf="phonenumber.errors.pattern">  
                                            Invalid phone number  
                                          </div>
                                      
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <small id="optional" class="ml-2  text-success">(at least 6 characters)</small>
                                    <input type="password" class="form-control" name="password"
                                        [(ngModel)]="eregisterForm.password" required minlength="6"
                                        #password="ngModel" />
                                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                        <div *ngIf="password.errors.required">Password is required</div>
                                        <div *ngIf="password.errors.minlength">
                                            Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="role" [(ngModel)]="eregisterForm.role"
                                        required #role="ngModel" disabled style="display: none;" />
                                </div>


                                <div class="text-center mt-3">
                                   
                                    <div class="form-group">
                                        <button mdbBtn color="primary" outline="true" rounded="true" block="true"
                                            class="my-4 waves-effect z-depth-0"
                                          
                                            mdbWavesEffect><strong>Register</strong></button>
                                    </div>

                                    <!-- Register -->
                                    <!-- <h6>Already have account?
                                        <a [routerLink]="['../login']"><strong>Sign in</strong></a>
                                    </h6> -->
                                </div>
                                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                    Signup failed!<br />{{ errorMessage }}
                                </div>
                            </form>
                            <div class="alert alert-success mt-3" *ngIf="isSuccessful">
                                Please check your mail to validate your account.<br/>
                                <a [href]="'https://mail.google.com/mail/'" target="_blank" ><strong>Go to gmail</strong></a>
                            </div>
                           
                        </mdb-card-body>

                    </mdb-card>
                    <!--/.Form-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>