<!-- <div class="view heavy-rain-gradient"> -->
<!-- Default form login -->
<!-- <div class="container mt-5 pt-5"> -->
<div class="view border rounded border-weight-white">
    <div class="custom pl-5 pr-5 ">
        <form class=" border border-grey p-5 cloudy-knoxville-gradient">
            <p class="text-center dark-grey-text h4 mb-5 ">Change password</p>
            <label class="text-left text-primary h6 mb-3 ">New password*</label>
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="New Password">
            <label class="text-left text-primary h6 mb-3">Confirm new password*</label>
            <input type="confirm-password" id="defaultLoginFormPassword" class="form-control mb-4"
                placeholder="Confirm new password">
            <button class="btn btn-primary my-4" type="submit"><strong>Save</strong></button>
        </form>
    </div>
    <!-- Default form login -->
</div>