<!-- List jobs -->


<div class="container-fluid">

    <div class="container" *ngIf="allCandidates ">

        <div class="row ">
            <div class="col-lg-8 col-md-6 col-sm-12 card-body ">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title ml-5 ">Featured Candidate</h5>

                    <!-- //<h5 *ngIf="recommendCandidate" class=" text-muted card-title mr-5 ">Resume you will love</h5> -->
                </div>
                <hr class=" hr-grey my-4 wow fadeInDown" data-wow-delay="0.4s">
                <div *ngIf="isCandidateEmpty()">
                    <div class=" col-lg-8 col-md-8 col-sm-8 ">

                        <h1 class=" text-muted">
                            0 Result Candidate
                        </h1>
                        <img src="./assets/images/employer/nosavedcandidate.jpg" class="img-fluid">

                    </div>
                </div>
                <div *ngIf="allCandidates">
                    <div class="pt-3 mt-3 pl-3 pb-3 mb-3  border rounded border-weight-light picture"
                        *ngFor="let candidate of allCandidates; ">
                        <div class="row  pl-1">
                            <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
                                <img *ngIf="candidate.image" class="card-img-top border rounded-circle border-white"
                                    src="data:image/png;base64,{{candidate.image}}" alt="Candidate image cap">
                                <img *ngIf="candidate.image_url" class="card-img-top border rounded-circle border-white"
                                    src={{candidate.image_url}} alt="Candidate image cap">
                                <img *ngIf="!candidate.image_url && !candidate.image"
                                    class="card-img-top border rounded-circle border-white"
                                    src="./assets/images/employer/avatar.jpg" alt="Candidate image cap">

                            </div>
                            <div class="col-lg-9 col-md-6 col-sm-6 mt-3 ">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="row">
                                            <a (click)="candidateDetail(candidate.id)" class="hovera font-weight-bold"
                                                style="font-size:20px;">
                                                {{candidate.name}}</a>
                                        </div>
                                        <div class="row">
                                            <p class="job-title"> <span *ngIf="candidate.work_title"
                                                    class="job-title_inner" data-toogle="tooltip"
                                                    title={{candidate.work_title}}>
                                                    {{candidate.work_title}}</span>
                                                <span *ngIf="!candidate.work_title"
                                                    style="color: #7B7A87; font-style: italic;">
                                                    Updating ...</span>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="title-field mr-2">Locations: </p>
                                            <span *ngIf="candidate.city" class="location-value-text"
                                                data-toogle="tooltip" title={{candidate.city}}>
                                                {{candidate.city}}</span>
                                            <span *ngIf="!candidate.city" style="color: #7B7A87; font-style: italic;">
                                                Updating ...</span>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <label *ngIf="candidate.last_updated" class="text-muted"
                                            style="font-size: 12px;" data-toogle="tooltip" title="Lasted update"> <i
                                                class="far fa-clock mr-1"></i>
                                            {{candidate.last_updated |date :'dd-MM-yyyy '}}</label>
                                        <label *ngIf="!candidate.last_updated" class="text-muted"
                                            style="font-size: 12px;" data-toogle="tooltip" title="Lasted update"> <i
                                                class="far fa-clock mr-1"></i>
                                            Just updated</label>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <ul class="nav nav-pills d-flex justify-content-center mt-3 mb-5">
                    <li class="nav-item" *ngFor="let p of pages; let i=index">
                        <a class="nav-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==pageNo}">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- recommendCandidate start -->
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <mdb-card>
                            <mdb-card-body>
                                <h5 class="font-weight-bold text-muted">Filter
                                </h5>
                                <hr class=" hr-grey my-4 wow fadeInDown" data-wow-delay="0.4s">
                                <div class="row   ml-2">
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="text-search">Expected Industry</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <ng-select [items]="industries" [virtualScroll]="true"
                                                    placeholder="Chooose Industries" [(ngModel)]="industry"
                                                    name="industry" [typeToSearchText]="industry" [addTag]="true">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row   ml-2 mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="text-search">Expected Job Types</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <ng-select [items]="jobTypes" [virtualScroll]="true"
                                                    placeholder="Chooose Job Types" [(ngModel)]="jobtype" name="jobtype"
                                                    [typeToSearchText]="jobtype" [addTag]="true">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row   ml-2 mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="text-search">Home Address</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <ng-select [items]="locations" [virtualScroll]="true"
                                                    placeholder="Chooose Location" [(ngModel)]="location"
                                                    name="location" [typeToSearchText]="location" [addTag]="true">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row   ml-2 mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="text-search">Job Titles</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <ng-select [items]="jobTitles" [virtualScroll]="true"
                                                    placeholder="Chooose Job Title" [(ngModel)]="worktitle"
                                                    name="worktitle" [typeToSearchText]="worktitle" [addTag]="true">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row   ml-2 mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="text-search">Year of Experiences</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- <select class="custom-select custom-select mb-3" name="experience"
                                                    [(ngModel)]="experience">
                                                    <option value="0">0 year</option>
                                                    <option value="1">1 year</option>
                                                    <option value="2">2 years</option>
                                                    <option value="3">3 years
                                                    </option>
                                                    <option value="4">4 years
                                                    </option>
                                                    <option value="5">5 years
                                                    </option>
                                                </select> -->
                                                <input type="number" class="form-control " [(ngModel)]="experience" name="experience">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-end  mr-2 mt-3">
                                    <button type="button" class="btn btn-warning mr-2" (click)="reload()">
                                        <span> <i class="fas fa-sync-alt" style="color: white;"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-success" (click)="searchCandiate()">
                                        <span>
                                            <mdb-icon fas icon="filter" style="color: white;"></mdb-icon>
                                        </span>
                                    </button>

                                </div>


                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
                <div *ngIf="!isRecommendCandidateEmpty() " class="row mt-3 pt-3 mb-3">
                    <div *ngIf="recommendCandidate" class="col-12">

                        <mdb-card>
                            <mdb-card-body>
                                <div class="d-flex justify-content-between">
                                    <h5 *ngIf="recommendCandidate" class=" text-muted card-title mr-5 ">Resume you will
                                        love
                                    </h5>
                                    <hr />
                                </div>
                                <hr class=" hr-grey my-4 wow fadeInDown" data-wow-delay="0.4s">
                                <div class=" recommened mb-3 " *ngFor="let recandidate of recommendCandidate; ">

                                    <div class="row d-flex justify-content-end">

                                        <img src="http://my.teamobi.com/images/hot.gif">
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <img *ngIf="recandidate.image"
                                            class="card-img-top mb-3 border rounded-circle border-white"
                                            src="data:image/png;base64,{{recandidate.image}}" alt="Candidate image cap">
                                        <img *ngIf="recandidate.image_url"
                                            class="card-img-top border rounded-circle border-white"
                                            src={{recandidate.image_url}} alt="Candidate image cap">
                                        <img *ngIf="!recandidate.image_url && !recandidate.image"
                                            class="card-img-top border rounded-circle border-white"
                                            src="./assets/images/employer/avatar.jpg" alt="Candidate image cap">
                                    </div>
                                    <div class="row d-flex justify-content-start ml-5">
                                        <a (click)="candidateDetail(recandidate.id)"
                                            class=" mb-1 hovera font-weight-bold" style="font-size:16px;">
                                            {{recandidate.name}}</a>
                                    </div>
                                    <div class="row d-flex justify-content-start ml-5">
                                        <label class="text-muted mr-3" for="work_title" style="font-size:16px;">Work
                                            Title:
                                        </label>
                                        <span class=" text-muted font-weight-bold ">
                                            {{recandidate.work_title}}</span>
                                    </div>
                                    <div class="row  d-flex justify-content-start ml-5 mt-0 pt-0">
                                        <label class="text-muted  mr-3" for="city" style="font-size:16px;">City:</label>
                                        <span class=" text-muted font-weight-bold ">
                                            {{recandidate.city }}</span>
                                    </div>

                                    <hr />

                                </div>
                                <div class="text-center">
                                    <a [routerLink]="['/employer/recommendcandidate']"
                                        class="btn btn-primary mr-auto btn-sm"><strong>Show more</strong></a>
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    <ng-template #successTpl>
        <span style="font-size: 18px;"><i class="fas fa-check mr-3 "></i>Successful!</span>
    </ng-template>
    <ng-template #dangerTpl>
        <span style="font-size: 18px;"><i class="fas fa-exclamation-triangle mr-3"></i>There got
            some error</span>
    </ng-template>
    <!-- list job -->
    <!-- hiihihihih -->
    <!-- </div> -->
</div>

<!-- List Jobs -->