img {  
    width:150px; 
    height:150px; 
    object-fit: cover; 
  } 
  .picture{
     background-color: #F8F9FA;
  }
  .picture:hover{
      background-color: #e8eaf6;
  }
  .container-fluid{
    // background-color: #6491FA;
  
    padding-top: 100px;
    padding-bottom: 40px;
   
}