<!-- <app-header-for-employer></app-header-for-employer> -->
<main>
    <div class="container mt-5 pt-5 mb-5">

        <form class="border border-grey pt-3" style="background-color:rgba(158, 158, 158, 0.1) ;">
            <p class="dark-grey-text mb-2 h4 font-weight-light">
                <mdb-icon fas icon="briefcase" class="ml-3 mr-1"></mdb-icon>The Job
            </p>
            <!-- job tiltle -->
            <div class="row ml-3 ">
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="form-group ">
                        <label class="dark-grey-text  font-weight-bold " for="jobTitle">Job Title</label>
                        <input type="text" class="form-control" id="jobTitle">
                    </div>
                </div>
            </div>
            <!-- job tiltle -->
            <!-- job level -->
            <!-- job industry -->
            <div class="row ml-3 ">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="form-group ">
                        <label class="dark-grey-text font-weight-bold" for="jobIndustry">Industry</label>
                        <select class="custom-select custom-select mb-3">
                            <option selected>Please select</option>
                            <option value="1">IT</option>
                            <option value="2">Economic</option>
                            <option value="3">etc</option>
                        </select>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="form-group ">
                        <label class="dark-grey-text font-weight-bold" for="jobLevel">Job Level</label>
                        <select class="custom-select custom-select mb-3">
                            <option selected>Please select</option>
                            <option value="1">Expert</option>
                            <option value="2">Fresher</option>
                            <option value="3">Intern</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- job industry -->
            <!-- job location  -->
            <div class="row ml-3 ">
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="form-group ">
                        <label class="dark-grey-text  font-weight-bold " for="stressAddress">Stress Address</label>
                        <input type="text" class="form-control" id="jobTitle">
                    </div>
                </div>

            </div>
            <div class="row ml-3 ">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="form-group ">
                        <label class="dark-grey-text  font-weight-bold " for="city">City Province</label>
                        <input type="text" class="form-control" id="jobTitle">
                    </div>
                </div>
            </div>
            <!-- job location -->
            <!-- salary -->
            <div class="row ml-3 ">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="form-group ">
                        <label class="dark-grey-text font-weight-bold" for="jobSalary">Salary</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="jobSalary">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">USD</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- salary -->
            </div>
            <div class="row ml-3">
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <label class="dark-grey-text font-weight-bold" for="createdDay">Expired Day</label>
                    <form class="form-inline">
                        <div class="form-group hidden">
                            <div class="input-group">
                                <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                                    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                    [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                                <ng-template #t let-date let-focused="focused">
                                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                                    [value]="formatter.format(fromDate)"
                                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                <div class="input-group-append">
                                    <button mdbBtn color="primary" outline="true" size="md"
                                        (click)="datepicker.toggle()" class="m-0 px-3 py-2" type="button"
                                        id="button-addon2" mdbWavesEffect><i class="fas fa-calendar-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ml-2">

                            <div class="input-group">
                                <input #dpToDate ngbDatepicker class="form-control" placeholder="yyyy-mm-dd"
                                    name="dpToDate" [value]="formatter.format(toDate)"
                                    (input)="toDate = validateInput(toDate, dpToDate.value)">
                                <div class="input-group-append">
                                    <button mdbBtn color="primary" outline="true" size="md"
                                        (click)="datepicker.toggle()" class="m-0 px-3 py-2" type="button"
                                        id="button-addon2" mdbWavesEffect><i class="fas fa-calendar-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- <div class="form-group">
                        <label class="dark-grey-text font-weight-bold" for="createdDay">Created Day</label>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                                        ngbDatepicker #createdDay="ngbDatepicker"
                                        [maxDate]="{year: 2020, month: 1, day: 31}">
                                    <div class="input-group-append">
                                        <button mdbBtn color="primary" outline="true" size="md" class="m-0 px-3 py-2"
                                            type="button" id="button-addon2" mdbWavesEffect
                                            (click)="createdDay.toggle()"><i class="fas fa-calendar-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>

            <div class="row ml-3 mt-3">

                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="form-group">

                        <label class="dark-grey-text font-weight-bold" for="jobDescription">Description</label>
                        <small id="optional" class="ml-2 text-muted">(Optional)</small>
                        <textarea type="text" class="form-control" id="jobDescription"></textarea>

                    </div>
                </div>
            </div>
            <div class="col-8  d-flex justify-content-end">
                <button type="submit" class="btn btn-primary pl-5 pr-5 mb-5 mt-3 ">Save</button>

            </div>
        </form>
    </div>
    <!-- company profile end -->
</main>
<app-footer></app-footer>