<div class="view border rounded border-weight-white">
    <div class="custom pl-5 pr-5 ">
        <div *ngIf="saveJobPost">
            <div class="row bg-light pb-3 border rounded border-weight-light" *ngIf="isSavedJobPostEmpty()">
                <div class=" col-lg-10 col-md-12 col-sm-12 ml-5 text-center ">

                    <h1 class="mt-5 text-muted">
                        You have 0 Saved Jobs
                    </h1>
                    <h3 class="text-center text-dark no-jobs-caption">
                        Trời ơi! You haven't saved any jobs yet.
                    </h3>
                    <div class="mt-3 mb-3 d-flex justify-content-center">
                        <img
                            src="https://itviec.com/assets/robby_with_heart-bbe0d2f209a7f333704b7787b90e84a31b55643a8cecbab715656d886cee4c32.png">
                    </div>
                    <h3 class="font-weight-normal text-muted">
                        Click the heart to save jobs.
                    </h3>

                </div>
            </div>
            <!-- if savejob exist start -->
            <div *ngIf="saveJobPost">
                <div class="savejob-info row bg-light pb-3 border rounded border-weight-light mb-3"
                    *ngFor="let savedjob of saveJobPost">

                    <!-- save job post start -->

                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-lg-3 col-md-12 col-sm-12 mt-3">
                                <!-- <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="..."> -->
                                <img class="card-img-top " src="data:image/png;base64,{{savedjob.image}}"
                                    alt="Card image cap">
                                <a class="d-flex justify-content-center" mdbTooltip="delete saved job" placement="top"
                                (click)="deleteSaveJobPost(savedjob.id,dangerTpl,successTpl)"
                                >
                                    <i class="fas fa-heart fa-2x mt-3" style="color: crimson;"></i>

                                </a>
                            </div>
                            <div class="col-lg-9 col-md-12 col-sm-12 mt-3">
                                <div class="row">

                                    <div class="col-8">
                                        <div class="row">
                                            <a href="https://www.w3schools.com" class="font-weight-bold"
                                                style="font-size:20px;"> {{savedjob.jobtitle}}</a>
                                        </div>
                                        <div class="row">
                                            <label class="text-secondary" style="font-size: 14px ; ">
                                                <i class="fas fa-map-marker-alt mr-1">
                                                </i> {{savedjob.city}}
                                            </label>
                                            <label class="ml-3 text-secondary" style="font-size: 14px;">
                                                <i class="fas fa-money-bill-wave"></i>
                                                {{savedjob.minSalary | currency}} -
                                                {{savedjob.maxSalary | currency}}

                                            </label>
                                        </div>
                                        <div class="row ">

                                            <label class="text-muted font-weight-bold mr-3" for="expireddate">Company
                                                Name:</label>

                                            <div class=" text-body font-weight-normal ">
                                                {{savedjob.companyname }}</div>
                                        </div>
                                        <div class="row">
                                            <label class="text-muted font-weight-bold mr-3" for="industry">Job
                                                Type:</label>
                                            <div class=" text-body font-weight-normal ">
                                                {{savedjob.jobtype}}</div>
                                        </div>
                                        <div class="row">
                                            <label class="text-muted font-weight-bold mr-3" for="industry">Experience
                                                Years:</label>
                                            <div class=" text-body font-weight-normal ">
                                                {{savedjob.experienceyears}}</div>
                                        </div>
                                        <!-- <p class="card-text text-muted" style="font-size: 13px;">
                                            {{savedjob.experienceyears}}</p> -->
                                    </div>
                                    <div class="col-4">
                                        <label class="bg-secondary text-light pl-1 pr-1 " mdbTooltip="Expiration Date"
                                            placement="bottom"
                                            style="font-size: 12px;">{{savedjob.expirationDate |date:'medium'}}</label>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                <button type="button" class="btn btn-success mr-3"><i
                                        class="fas fa-search"></i></button>
                                <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </div> -->
                            </div>

                        </div>
<!-- end save job row -->
                    </div>
                    <hr />

                    <!-- save job post end -->
                </div>
                <ul class="nav nav-pills d-flex justify-content-center">
                    <li class="nav-item" *ngFor="let p of pages; let i=index">
                        <a class="nav-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==pageNo}" >
                          {{i}}
                        </a>
                    </li>
                </ul>
            </div>
             <!-- if savejob exist start -->

        </div>
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <ng-template #successTpl>
            <span style="font-size: 18px;"><i class="fas fa-check mr-3 "></i>Successfully!</span>
        </ng-template>
        <ng-template #dangerTpl>
            <span style="font-size: 18px;"><i class="fas fa-exclamation-triangle mr-3"></i>There got
                some error</span>
        </ng-template>
    </div>
</div>