<app-header-for-guest></app-header-for-guest>
<!-- Main navigation -->
<section>
    <!-- Full Page Intro -->
    <div class="view jarallax"
        style="background-image: url('./assets/images/candidate/login.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                            data-wow-delay="0.3s"><strong>Don't miss your jobs</strong></h1>
                        <br />
                        <br />
                        <a [routerLink]="['./login']" mdbBtn color="primary" rounded="true" mdbWavesEffect>
                            <mdb-icon fas icon="user" class="left"></mdb-icon><strong>Sign in now!</strong>
                        </a>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                        <br />
                    </div>
                    <!--Grid column-->
                </div>
                <app-search-job></app-search-job>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->

    <!-- List jobs -->
    <div class="card ">
        <div class="card-body">
            <h5 class="card-title text-center">Lasted Jobs</h5>
            <hr class="hr-grey my-4 wow fadeInDown" data-wow-delay="0.4s">
            <!-- list job -->

            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                             
                            </div>
                        </div>
                   
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 ">

                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list job -->
            <!-- button show more -->
            <div class="text-center">
                <a href="#" class="btn btn-primary mr-auto"><strong>Show more</strong></a>
            </div>
            <!-- button show more -->
        </div>
    </div>

    <!-- List Jobs -->
</section>
<!-- Main navigation -->
<app-footer></app-footer>