
    <div class="view jarallax mt-5"
        style="background-image: url('./assets/images/candidate/login.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                            data-wow-delay="0.3s"><strong>Don't miss your jobs</strong></h1>
                        <br />
                        <br />
                        <a [routerLink]="['./login']" mdbBtn color="primary" rounded="true" mdbWavesEffect>
                            <mdb-icon fas icon="user" class="left"></mdb-icon><strong>Sign in now!</strong>
                        </a>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                        <br />
                    </div>
                </div>     
            </div>
        </div>
    </div>

    <div class="card ">
        <div class="card-body container bg-white">
    <!-- <div class="email_noti">
                <div class="email_from">
                    <div class="email_nd " style="background-image: url(./assets/images/mail_home_mb.png);">
                        <h3><span class="text-banner">Discover a lot of jobs below...</span></h3>
                    </div>

                </div>
            </div> -->
            <div class="card-title text-center">
                <!-- <p class="employer-label text-muted">Nhà tuyển dụng tiêu biểu</p> -->
                <h5 class="employer-label display-5  dark-grey-text  pt-4  mb-5"><strong>Featured
                        <span class="employer-label-text">Jobs</span>
                    </strong></h5>

            </div>
        
         
            <div >
              
                <div class="row">
                    <div *ngFor="let topjobpost of topviewedjobposts;" class="col-lg-6 col-md-12 col-sm-12  mb-3 pb-3">
                        <div class=" pt-3 mb-3 pr-3  border rounded border-weight-light bg-white">
                            <div class="row d-flex justify-content-end mr-3">
                                <img src="http://my.teamobi.com/images/hot.gif">
                            </div>
                            <div class="row pl-1">
                                <div class="col-lg-3 col-md-12 col-sm-12 mt-3 mb-3">
                                    <img *ngIf="topjobpost.image" class="card-img-top  "
                                        src="data:image/png;base64,{{topjobpost.image}}" alt="Company image cap">
                                    <img *ngIf="topjobpost.imageUrl" src={{topjobpost.imageUrl}} alt="Company image"
                                        class="img-fluid ">
                                    <img *ngIf="!topjobpost.imageUrl && !topjobpost.image" class="img-fluid"
                                        src="./assets/images/employer/no-image.png" alt="Company image cap">


                                </div>
                                <div class="col-lg-9 col-md-12 col-sm-12 mt-3">
                                    <div class="row pr-3">
                                        <div class="col-lg-12 ">
                                            <div class="row ">
                                                <a href={{topjobpost.sourceUrl}} target="_blank"
                                                    class="hovera-hotjob font-weight-bold company-name "
                                                    style="font-size:17px;" data-toogle="tooltip"
                                                    title={{topjobpost.jobtitle}}>

                                                    {{topjobpost.jobtitle}}</a>
                                            </div>
                                            <div class="row mt-1  ">
                                                <span class="si25 mr-1 ">Ad</span>


                                                <a href={{topjobpost.sourceUrl}} class="text-muted ad-text"
                                                    target="_blank">{{topjobpost.sourceUrl}}</a>
                                            </div>
                                            <div class="row mb-1">
                                                <div class=" company-name text-muted font-weight-normal "
                                                    data-toogle="tooltip" title={{topjobpost.companyname}}>
                                                    {{topjobpost.companyname }}</div>
                                            </div>
                                            <div class="row">
                                                <label class="text-secondary mr-3" style="font-size: 12px ; ">
                                                    <i class="fas fa-map-marker-alt mr-1">
                                                    </i> {{topjobpost.city}}
                                                </label>
                                                <label class=" text-muted pl-1 pr-1 " mdbTooltip="Expiration Date"
                                                    style="font-size: 12px;">
                                                    <i class="far fa-clock"></i>
                                                    {{topjobpost.expirationDate |date :'dd-MM-yyyy '}}</label>
                                   

                                                <label *ngIf="topjobpost.minSalary && topjobpost.maxSalary"
                                                    class="ml-3 text-secondary" style="font-size: 12px;">
                                                    <mdb-icon fas icon="dollar-sign"></mdb-icon>
                                                    {{topjobpost.minSalary| currency:"VND"}} -
                                                    {{topjobpost.maxSalary | currency:"VND"}}

                                                </label>

                                                <label *ngIf="!topjobpost.minSalary && !topjobpost.maxSalary"
                                                    class="ml-3 text-secondary" style="font-size: 12px;">
                                                    <mdb-icon fas icon="dollar-sign"></mdb-icon>
                                                    Thỏa thuận

                                                </label>
                                                <label *ngIf="topjobpost.minSalary && !topjobpost.maxSalary"
                                                    class="ml-3 text-secondary" style="font-size: 12px;">
                                                    <mdb-icon fas icon="dollar-sign"></mdb-icon>
                                                    Từ {{topjobpost.minSalary| currency:"VND"}}
                                                </label>
                                                <label *ngIf="!topjobpost.minSalary && topjobpost.maxSalary"
                                                    class="ml-3 text-secondary" style="font-size: 12px;">
                                                    <mdb-icon fas icon="dollar-sign"></mdb-icon>
                                                    Đến {{topjobpost.minSalary| currency:"VND"}}
                                                </label>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <a [routerLink]="['/guest/login']"
                        class="show-more text-primary"><strong>Show more</strong>
                        <mdb-icon fas icon="angle-double-right" class="ml-1"></mdb-icon>
                    </a>
                </div>
            </div>
            <!-- hot Jobs end  -->

           
        </div>

    </div>