<!-- List jobs -->
<!-- <div class=" mt-5 pt-3">
        <div class="card-body">
            <h5 class="card-title ml-3">Lasted Jobs</h5>
            <hr class="hr-grey my-4 wow fadeInDown" data-wow-delay="0.4s">
            <div class="row mb-5">
                <div class="col-lg-5 col-md-5 col-sm-12 pt-3 pb-3 ml-5 mr-5 border rounded border-weight-light bg-light">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                  </p>

                            </div>
                        </div>

                    </div>
                </div>
               
                <div class="col-lg-5 col-md-5 col-sm-12 pt-3 pb-3 ml-5 mr-5 border rounded border-weight-light bg-light">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                  </p>

                            </div>
                        </div>

                    </div>
                </div>
              
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 col-md-5 col-sm-12 pt-3 pb-3 ml-5 mr-5 border rounded border-weight-light bg-light">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                  </p>

                            </div>
                        </div>

                    </div>
                </div>
               
                <div class="col-lg-5 col-md-5 col-sm-12 pt-3 pb-3 ml-5 mr-5 border rounded border-weight-light bg-light">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="./assets/images/candidate/login.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                  </p>

                            </div>
                        </div>

                    </div>
                </div>
              
            </div>
          
           
            <div class="text-center">
                <a href="#" class="btn btn-primary mr-auto"><strong>Show more</strong></a>
            </div>
           
        </div>
    </div> -->
<!-- list job -->
<div class="container-fluid" style=" padding-top: 100px;">
    <!-- <app-search-job></app-search-job>
</div> -->
    <div class="view">
        <div class="container mb-5 pb-5 pt-3">
            <!-- <div class="card  "> -->
            <div class="container">
                <div class="card-body">
                    <h5 class="card-title ml-3">Latest Profiles</h5>
                    <hr class="hr-grey my-4 wow fadeInDown" data-wow-delay="0.4s">
                    <!-- list job -->


                    <div *ngIf="allCandidates">
                        <div class="row">
                            <div *ngFor="let candidate of allCandidates;" class="col-lg-6 col-md-12 col-sm-12  ">
                               
                                            <div class=" pt-3 pb-3 mb-2 pr-3  border rounded border-weight-light picture">
                                            <div class="row  pl-1">
                                                <div class="col-lg-3 col-md-6 col-sm-6 ">
                                                    <img *ngIf="candidate.image"
                                                        class="card-img-top border rounded-circle border-white"
                                                        src="data:image/png;base64,{{candidate.image}}"
                                                        alt="Candidate image cap">
                                                    <img *ngIf="candidate.image_url"
                                                        class="card-img-top border rounded-circle border-white"
                                                        src={{candidate.image_url}} alt="Candidate image cap">
                                                        <img *ngIf="!candidate.image_url && !candidate.image" class="card-img-top border rounded-circle border-white"
                                                        src="./assets/images/employer/avatar.jpg" alt="Candidate image cap">

                                                </div>
                                                <div class="col-lg-9 col-md-6 col-sm-6 mt-3 ">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <div class="row">
                                                                <a (click)="candidateDetail(candidate.id)"
                                                                    class="hovera font-weight-bold"
                                                                    style="font-size:20px;">
                                                                    {{candidate.name}}</a>
                                                            </div>
                                                            <div class="row">
                                                                <p class="job-title"> <span *ngIf="candidate.work_title" class="job-title_inner"
                                                                        data-toogle="tooltip"
                                                                        title={{candidate.work_title}}>
                                                                        {{candidate.work_title}}</span>
                                                                        <span *ngIf="!candidate.work_title"  style="color: #7B7A87; font-style: italic;"
                                                                        >
                                                                       Updating ...</span>
                                                                    </p>
                                                            </div>
                                                            <div class="row">
                                                                <p class="title-field mr-2">Locations: </p>
                                                                <span *ngIf="candidate.city" class="location-value-text" data-toogle="tooltip"
                                                                    title={{candidate.city}}>
                                                                    {{candidate.city}}</span>
                                                                    <span *ngIf="!candidate.city" style="color: #7B7A87; font-style: italic;" >
                                                                    Updating ...</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-5">
                                                            <label *ngIf="candidate.last_updated" class="text-muted" style="font-size: 12px;"
                                                                data-toogle="tooltip" title="Lasted update"> <i
                                                                    class="far fa-clock mr-1"></i>
                                                                {{candidate.last_updated |date :'dd-MM-yyyy '}}</label>
                                                                <label *ngIf="!candidate.last_updated" class="text-muted" style="font-size: 12px;"
                                                                data-toogle="tooltip" title="Lasted update"> <i
                                                                    class="far fa-clock mr-1"></i>
                                                                    Just updated</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            </div>
                                      
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <a [routerLink]="['/employer/searchcandidate']" class="show-more"><strong>Show
                                    more</strong>
                                <mdb-icon fas icon="angle-double-right" class="ml-1"></mdb-icon>
                            </a>
                        </div>
                        <!-- <div class="text-center mt-3">
                            <a [routerLink]="['/employer/searchcandidate']" class="btn btn-primary mr-auto"><strong>Show
                                    more</strong></a>
                        </div> -->
                    </div>
                    <!-- list job -->
                </div>
                <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
                <ng-template #successTpl>
                    <span style="font-size: 18px;"><i class="fas fa-check mr-3 "></i>Successful!</span>
                </ng-template>
                <ng-template #dangerTpl>
                    <span style="font-size: 18px;"><i class="fas fa-exclamation-triangle mr-3"></i>There got
                        some error</span>
                </ng-template>
                <!-- list job -->
                <!-- list job -->
            </div>
        </div>
    </div>