<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                 <a  [routerLink]="['./login']" class="nav-link waves-light" mdbWavesEffect><strong>Sign In</strong></a> 
                
            </li>
            <li class="nav-item">
                <a [routerLink]="['./register']"  class="nav-link waves-light" mdbWavesEffect><strong>Register</strong></a>
            </li>
            <li>
                <button mdbBtn type="button" size="md" color="secondary" rounded="true" mdbWavesEffect [routerLink]="['../guest']"><strong>Jobseeker's Site</strong></button>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->