
<section>
    <div class="view">
        <!-- Default form login -->
        <div class="container mt-5 pt-5">
            <form class="text-center border border-grey p-5" style="background-color:rgba(158, 158, 158, 0.1) ;">
                <p class="dark-grey-text h4 mb-2">Forgot your password?</p>
                <p class="grey-text">We'll send password reset instructions</p>
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Your E-mail">
                <button mdbBtn color="danger"class="my-4" type="submit"><strong>Reset Password</strong></button>
            </form>
        </div>
        <!-- Default form login -->
    </div>
</section>

