<div class="view">
    <div class="  pt-5 pb-5 mt-5 text-center">
        
        <!-- Default form login -->
     <div class="container border border-light rounded mt-5">
            <form class=" text-center   p-5"  >
                <h3 class=" text-primary font-weight-bolder " style="letter-spacing: 1px;"> Thanks for signin up!</h3>
                <p class=" text-monospace grey-text"> Cool. Your account has been actived now</p>
               
                 
                    <a  [routerLink]="['/guest/login']" ><strong>Sign in</strong></a>
               
            </form>
        </div>
    </div>

</div>