<div class="view">
    <div class="  pt-5 pb-5 mt-5 text-center">
        <h3 class=" text-primary font-weight-bolder " style="letter-spacing: 1px;"> Thanks for signin up!</h3>
        <p class=" text-monospace grey-text"> Cool. You have only one step left</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <!-- Default form login -->
     <div class="container border border-light rounded mt-5">
            <form class=" text-center   p-5"  >
                <!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4"
                    placeholder="Confirm password">
                <button mdbBtn color="info" class="my-4 " type="submit"><strong>Save</strong></button>
            </form>
        </div>
    </div>

</div>